body {
  background-color: white;
  margin: 0 auto;
     /*If you're having any weird margin or padding issues on your site, try adding margin: 0 auto; to the body of your page*/
     font-family: 'Bree Serif', serif;

}
h1 {

     font-family: 'Bree Serif', serif;  

}

/*#RLogo{
background-image: url("http://www.eatdrinkdtsb.com/wp-content/uploads/2017/01/choccafe.png");
  height:200px;
  background-repeat: no-repeat;

}*/

#logo {
  background-image: url("logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  border-radius: 50%;
}

#Relogo {
width: 80px;
height:80px;
border-radius: 90%;
 transition: 0.2s;
}

#Relogo:hover {
  width: 93px;
  height:93px;
  filter: saturate(0);
  transition: 0.2s;
}


#photo {
  /*background-image: url("http://www.eatdrinkdtsb.com/wp-content/uploads/2017/01/choccafe.png");*/
  background-size: contain;
  background-repeat: no-repeat;
  position: center;
}

#new {
  height: 200px;
  background-color: red;
  text-align: center;
}

#logo {
  /*To slightly move the logo in my navbar to the right*/
  padding-left: 1%;
}

.nav-wrapper {
  background-color: #ff8c00;
}

#header {
  /*How to add in a background image*/
  background-image: url("http://i.huffpost.com/gen/1716876/images/o-ATLANTA-TRAFFIC-facebook.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /*Makes my hero image stay still as I scroll; creates a cool effect*/
  height: 500px;
}

.about {
  background-color: #fff3e0;
  font-size: 17px;

  /*Adds space around the paragraph in my "About Me" section*/
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.2%;
  padding-right: 1.2%;
}

/*CSS for the white background surrounding my Coca-Cola image*/
.whiteBackground {
  background-color: white;
  height: 600px;
}

/*My Coca Cola image*/
#centerImage {
  background-image: url('coca.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 550px;
}

button {
  color: white !important;
  background-color:#ff5252;
  transition: 5s;
}
